body {
  background-color: #303d46;
  color: var(--Texte, #d4dbe3);
  text-align: center;
  font-family: "Inria Serif";
}

a {
  display: inline-block;
  color: var(--Texte, #d4dbe3);
  font-size: 20px;
  line-height: 150%; /* 30px */
  letter-spacing: -0.22px;

  gap: 10px;
  border-radius: 57px;
  background: var(--Cartes, #4f6271);
  padding: 33px 256px;
}

.card {
  padding: 37px 100px;
  border-radius: 55px;
  background: var(--Cartes, #4f6271);
  max-width: 1103px;
  margin: 0 auto 77px auto;
}

hr {
  color: #d4dbe3;
  margin: 34px auto;
}
